En este libro de python vamos a probar las funciones 1 y 2: 

def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}


def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [53]:
# Comenzamos importando librerias
import pandas as pd

In [54]:
# Leemos los csv finales creado y guardamos 
games = pd.read_csv('../Archivos_csv/games_final.csv')
items = pd.read_csv('../Archivos_csv/items_final.csv')

In [55]:
# Creamos un nuevo dataframe con los csv cargados, lo que hacemos es un Merge por medio del item_id y id, que contienen los mismos valores.
data = games.merge(items, left_on="id", right_on="item_id", how="inner")

In [56]:
# Vemos como sale el nuevo DF creado
data.head()

,genres,app_name,title,early_access,id,year,user_id,items_count,steam_id,item_id,item_name,playtime_forever
0,Action,Carmageddon Max Pack,Carmageddon Max Pack,False,282010,1997,Uw0tm8MeaslesVaccines,129.0,76561198057092464,282010,Carmageddon Max Pack,5
1,Action,Carmageddon Max Pack,Carmageddon Max Pack,False,282010,1997,kelpykelpy,27.0,76561197974613697,282010,Carmageddon Max Pack,0
2,Action,Carmageddon Max Pack,Carmageddon Max Pack,False,282010,1997,76561198049237610,85.0,76561198049237610,282010,Carmageddon Max Pack,0
3,Action,Carmageddon Max Pack,Carmageddon Max Pack,False,282010,1997,76561198046186720,12.0,76561198046186720,282010,Carmageddon Max Pack,0
4,Action,Carmageddon Max Pack,Carmageddon Max Pack,False,282010,1997,76561198091166709,66.0,76561198091166709,282010,Carmageddon Max Pack,13

In [57]:
# Vemos que nos queda info repetida con app_name, title y item_name, por lo que solo dejamos item_name. Ademas id y item_id son iguales, dejamos solo item_id. Ademas early_acces y items_count no lo vamos a utilizar

data = data.drop(columns=['app_name', 'title', 'early_access', 'id', 'items_count' ])

In [58]:
# vemos como queda mas limpio el df
data.head()

,genres,year,user_id,steam_id,item_id,item_name,playtime_forever
0,Action,1997,Uw0tm8MeaslesVaccines,76561198057092464,282010,Carmageddon Max Pack,5
1,Action,1997,kelpykelpy,76561197974613697,282010,Carmageddon Max Pack,0
2,Action,1997,76561198049237610,76561198049237610,282010,Carmageddon Max Pack,0
3,Action,1997,76561198046186720,76561198046186720,282010,Carmageddon Max Pack,0
4,Action,1997,76561198091166709,76561198091166709,282010,Carmageddon Max Pack,13

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168941 entries, 0 to 168940
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   genres            168941 non-null  object
 1   year              168941 non-null  object
 2   user_id           168941 non-null  object
 3   steam_id          168941 non-null  int64
 4   item_id           168941 non-null  int64
 5   item_name         168941 non-null  object
 6   playtime_forever  168941 non-null  int64
dtypes: int64(3), object(4)
memory usage: 9.0+ MB

In [60]:
# Sabemos que la columna playtime_forever esta en minutos y necesitamos saber las horas, por lo tanto creamos una columna nueva y lo pasamos a horas
data['hours_game'] = (data['playtime_forever']/60).astype(int)

In [61]:
data.head()

,genres,year,user_id,steam_id,item_id,item_name,playtime_forever,hours_game
0,Action,1997,Uw0tm8MeaslesVaccines,76561198057092464,282010,Carmageddon Max Pack,5,0
1,Action,1997,kelpykelpy,76561197974613697,282010,Carmageddon Max Pack,0,0
2,Action,1997,76561198049237610,76561198049237610,282010,Carmageddon Max Pack,0,0
3,Action,1997,76561198046186720,76561198046186720,282010,Carmageddon Max Pack,0,0
4,Action,1997,76561198091166709,76561198091166709,282010,Carmageddon Max Pack,13,0

In [62]:
# Eliminamos la columna de playtime_forever
data = data.drop(columns='playtime_forever')

In [63]:
# Vamos a contar la cantidad de registros que tenemos por año
count_año = data['year'].value_counts()

In [64]:
print(count_año)

year
2015    28636
2014    27602
2013    23016
2012    20756
2016    14470
2011    13634
2017    10034
2010     7581
2009     5195
2006     4652
2008     2368
2007     2002
2004     1465
2003     1320
NaT      1143
2005     1029
1999      793
2001      568
2002      560
2000      520
1998      460
1997      345
1995      218
1996      139
1994      125
1988      116
1993       85
1992       47
1991       22
1990       19
1983        9
1989        6
1984        3
1987        3
Name: count, dtype: int64

In [65]:
# Al ver la cantidad de registros que tenemos por año y que tambien tenemos valores NaT en la columna year. Decidimos quedarnos con los años que tengan mas de 1000 registros

anios = ['2015', '2014', '2013', '2012', '2016', '2011', '2017', '2010', '2009', '2006', '2008', '2007', '2004', '2003', '2005']

In [66]:
# Nos quedamos con los años seleccionados
data = data[data['year'].isin(anios)]

In [67]:
# Verificamos ahora la cantidad que tenemos
count_anio = data['year'].value_counts()

In [68]:
count_anio

year
2015    28636
2014    27602
2013    23016
2012    20756
2016    14470
2011    13634
2017    10034
2010     7581
2009     5195
2006     4652
2008     2368
2007     2002
2004     1465
2003     1320
2005     1029
Name: count, dtype: int64

In [69]:
# Pedimos un info para ver el tamaño
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163760 entries, 142 to 168940
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   genres      163760 non-null  object
 1   year        163760 non-null  object
 2   user_id     163760 non-null  object
 3   steam_id    163760 non-null  int64
 4   item_id     163760 non-null  int64
 5   item_name   163760 non-null  object
 6   hours_game  163760 non-null  int64
dtypes: int64(3), object(4)
memory usage: 10.0+ MB

In [70]:
# Para achicar memoria eliminamos 3 columnas mas que no usamos en las funciones
data = data.drop(columns=['steam_id', 'item_id', 'item_name'])

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163760 entries, 142 to 168940
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   genres      163760 non-null  object
 1   year        163760 non-null  object
 2   user_id     163760 non-null  object
 3   hours_game  163760 non-null  int64
dtypes: int64(1), object(3)
memory usage: 6.2+ MB

In [72]:
# Realizamos la primer funcion

def playTimeGenre(genres):
    
    filtro = data[data['genres'] == genres] # ponemos que el filtro para que el genero ingresado sea igual al del df
    if filtro.empty:
        return f"El genero {genres} no se encuentra en los registros" 
    else:
        anio_max_horas = filtro.loc[filtro['hours_game'].idxmax(), 'year']
        
    return f"El Año de lanzamiento con mas horas jugadas para el genero {genres}: {anio_max_horas}"

In [73]:
# Probamos la funcion
playTimeGenre('Action')

'El Año de lanzamiento con mas horas jugadas para el genero Action: 2013'

In [74]:
# Realizamos la segunda funcion
def userForGenre (genres):
    
    filtro = data[data['genres'] == genres]
    if filtro.empty:
        return f"el genero {genres} no se encuentra en los registros"
    else:
        usuario_max_horas = filtro.loc[filtro['hours_game'].idxmax()]['user_id']
        acumulacion_horas_anio = filtro.groupby('year')['hours_game'].sum().reset_index()
    
    result = {
        "Usuario con más horas jugadas para Género " + genres: usuario_max_horas,
        "Horas jugadas": [{"Año":row['year'], "Horas": row['hours_game']} for index, row in acumulacion_horas_anio.iterrows()]
    }
    
    return result

In [75]:
# Probamos la funcion
userForGenre('Action')

{'Usuario con más horas jugadas para Género Action': '76561198066412851',
 'Horas jugadas': [{'Año': '2003', 'Horas': 4459},
  {'Año': '2004', 'Horas': 28775},
  {'Año': '2005', 'Horas': 3694},
  {'Año': '2006', 'Horas': 3410},
  {'Año': '2007', 'Horas': 4416},
  {'Año': '2008', 'Horas': 13780},
  {'Año': '2009', 'Horas': 62682},
  {'Año': '2010', 'Horas': 72250},
  {'Año': '2011', 'Horas': 110914},
  {'Año': '2012', 'Horas': 396803},
  {'Año': '2013', 'Horas': 187401},
  {'Año': '2014', 'Horas': 62299},
  {'Año': '2015', 'Horas': 108696},
  {'Año': '2016', 'Horas': 44880},
  {'Año': '2017', 'Horas': 59083}]}

In [76]:
# Exportamos el dataframe con el que realizamos las funciones a un archivo parquet para que ocupe menos espacio y podamos utilizarlo en FastApi
ruta_parquet = 'genres.parquet'

In [77]:
data.to_parquet(ruta_parquet, engine='fastparquet')